<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="js/scrubber/scrubber.js"></script>
        <script src="js/bus.js"></script>
        <title>Giffify</title>
    </head>
    <body>
        <div id="drop">
            <div>
                <select id="videoList">
                </select>
                <button id="playButton">Play</button>
                <button id="postButton">Giffify</button>
            </div>
            <video-scrubber id="scrubber" video-id="video"> </video-scrubber>
            <div>
                <span>Current time: <span id="currentTime"></span></span> 
                |
                <span>Selected: <span id="cropString"></span></span>
            </div>
            <div id="videoView">
                <video id="video">
                    <source src="/video/table-runaway2.mov" />
                </video>
                <canvas class="stack" id="effectsCanvas" />
            </div>
            <div id="modal" class="modal">
                <a id="modalExit" class="exitButton"><img src="img/close.svg"/></a>
                <img id="gif" class="downloadGif" />
            </div>
            <script src="js/init.js"></script>
            <script src="js/editor.js"></script>
            <script src="js/canvas.js"></script>
            <script src="js/file.js"></script>
        </div>
    </body>
</html>